<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>
    <canvas id="mainCanvas"></canvas>
    <section id="content"></section>
    <section id="loginScreen"></section>

    <div id="error" class="hidden">
        <h3><span id="errorMessage"></span></h3>
    </div>

    <script src="assets/appBundle.js"></script>
</body>

</html>