<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="loginButton">Login</div>
    <div id="signupButton">Sign up</div>

    <section id="content">

    </section>

    <div id="message" class='hidden'>
        <h3><span id="errorMessage"></span></h3>
    </div>
    <script src="assets/hosted/loginBundle.js"></script>
</body>

</html>