<div id="loginButton">Login</div>
<div id="signupButton">Sign up</div>

<section id="content">

</section>

<div id="message" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
</div>
<script src="/hosted/loginBundle.js"></script>